#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mdxeditor-toolbar {
  display: flex;
  background-color: #1A120B;
}

.mdxeditor-toolbar > div {
  color: #E5E5CB;
  background-color: #1A120B;
}

.mdxeditor-toolbar > div > div {
  display: flex;
  color: #E5E5CB;
  margin-left: 8px;
  margin-right: 8px;
}

.mdxeditor-diff-source-wrapper > p {
  text-align: start;
  color: #1a120b;
}

._contentEditable_yms4a_379 {
  text-align: start;
  color: #1a120b;
  padding-left: 5px;
  padding-right: 5px;
}

._contentEditable_yms4a_379 > ol {
  text-align: start;
  list-style-type: decimal;
  color: #1a120b;
  padding-left: 10px;
}

._contentEditable_yms4a_379 > ul {
  text-align: start;
  color: #1a120b;
  padding-left: 15px;
}

._contentEditable_yms4a_379 > ul > li[role="checkbox"] {
  /* list-style-type: none;
  position: relative;
  outline: none;
  position: relative; */
  position: relative;
  display: list-item;
  margin-left: 0;
  margin-right: 0;
  margin-inline-start: -1rem;
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
  list-style-type: none;
  outline: none;
}

._contentEditable_yms4a_379 > ul > li:not([role="checkbox"]) {
  list-style-type: disc;
}

.prose {
  font-family: "Inter", sans-serif;
}

.prose strong {
  font-weight: 600;
}
