#root {
  text-align: center;
  /* height: 100vh; */
}

.prose {
  font-family: "Inter", sans-serif;
}

.prose strong {
  font-weight: 600;
}

.prose h1{
  font-size: xx-large;
}

.prose h2{
  font-size: x-large;
}

.prose h3{
  font-size: larger;
}

.prose h4{
  font-size: large;
}

.prose h5{
  font-size: medium;
}

.prose h6{
  font-size: small;
}

.prose p{
  font-size: smaller;
}

.mdxeditor-toolbar {
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
}

.mdxeditor-toolbar > div {
  color: #191818;
  background-color: #E1F7DD;
}

.mdxeditor-toolbar > div > div {
  display: flex;
  color: #191818;
  margin-left: 8px;
  margin-right: 8px;
}

.mdxeditor-diff-source-wrapper > p {
  text-align: start;
  color: #191818;
}

._contentEditable_yms4a_379 {
  text-align: start;
  color: #191818;
  padding-left: 5px;
  padding-right: 5px;
}

._contentEditable_yms4a_379 > ol {
  text-align: start;
  list-style-type: decimal;
  color: #191818;
  padding-left: 10px;
}

._contentEditable_yms4a_379 > ul {
  text-align: start;
  color: #191818;
  padding-left: 15px;
}

._contentEditable_yms4a_379 > ul > li:not([role="checkbox"]) {
  list-style-type: disc;
}

.mdxeditor-toolbar > div > div > button > span > svg {
  color: #191818;
  border-radius: 5px;
}

.mdxeditor-toolbar > div > div > button > span :hover {
  background-color: #024643 !important;
  color: #FAFAFA;
  border-radius: 5px;
}

/* .mdxeditor-toolbar > div > div > div > button {
  background-color: #024643 !important;
  color: #FAFAFA;
  border-radius: 5px;
} */

.mdxeditor-toolbar > div > div > div > button:hover {
  background-color: #024643 !important;
  color: #FAFAFA;
}

.mdxeditor-toolbar > div > div > button {
  margin-top: 2px !important;
  height: 30px !important;
  color: #FAFAFA;
}

.mdxeditor-toolbar > div > div > button:hover {
  background-color: #024643 !important;
  color: #FAFAFA !important;
  border-radius: 5px;
  /* outline: #E5E5CB solid 2px; */
}

.mdxeditor-toolbar > div > button {
  margin-top: 2px;
  height: 30px;
}

/* .mdxeditor-toolbar > div > button {
  padding: 0 6px;
  background-color: #714DFF !important;
  color: #FAFAFA;
} */

/* .mdxeditor-toolbar > div > button:hover {
  background-color: #714dffd5 !important;
} */

._toolbarToggleItem_yms4a_206[data-state=on] {
  background-color: #024643 !important;
  color: #FAFAFA !important;
}

._codeMirrorWrapper_yms4a_391 {
  background-color: black;
}

/* .chat-mdx ._contentEditable_yms4a_379 > * {
  color: #E5E5CB;
} */